<section>

  <article>
    <h3>Interpolação</h3>
    <p>String renderizada com interpolação: {{ url }}</p>
    <p>Resultado de 1 + 1 = {{ 1+1 }}.</p>
    <p>Resultado de 1 + 1 não é {{ 1 + 1 + getValor() }}.</p>
    <p>Curso angular e gosto do curso = {{ angular && getCurtirCurso() }}</p>
  </article>

  <article>
    <h3>Property Binding</h3>
    <img src="{{ urlImage1 }}">
    <img [src]="urlImage2">
  </article>

  <article>
    <h3>Class e Style Binding</h3>
    <div>
      Selecione uma classe:
      <select #classe (change)="0">
        <option value="alert-success">Sucesso</option>
        <option value="alert-info">Info</option>
        <option value="alert-warning">Alert</option>
        <option value="alert-danger">Erro</option>
      </select>
      <br><br>

      <div class="alert {{ classe.value }}" role="alert">Texto colorido conforme o valor do combobox</div>

      <div class="alert" role="alert" [class.alert-success]="classe.value == 'alert-success'">Sucesso</div>
      <div class="alert" role="alert" [class.alert-info]="classe.value == 'alert-info'">Info</div>
      <div class="alert" role="alert" [class.alert-warning]="classe.value == 'alert-warning'">Alert</div>
      <div class="alert" role="alert" [class.alert-danger]="classe.value == 'alert-danger'">Erro</div>

      <div class="alert alert-danger" role="alert" [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'">Este texto aparece somente em caso de erro</div>

    </div>

  </article>

  <article>
    <h3>Event Binding</h3>
    <input type="text" (keyup)="onKeyUp($event)" (keyup.enter)="onEnter($event.target.value)" (blur)="onEnter(campoInput.value)" #campoInput>
    <p>Valor atual: {{ valorAtual }}</p>
    <p>Valor salvo: {{ valorSalvo }}</p>

    <span
    (mouseover)="onMouseOverOut()"
    (mouseout)="onMouseOverOut()"
    [class.highlight]="isMouseOver" >
      Passe o mouse sobre mim!
    </span>

  </article>

  <article>
    <h3>Two-Way Binding</h3>
    <input type="text" [(ngModel)]="nome">
    <p>Valor salvo: {{ nome }}</p>
  </article>

</section>

