<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!!
  </h1>
</div>


<meu-primeiro-component></meu-primeiro-component>

<app-meu-primeiro2></app-meu-primeiro2>

<app-cursos></app-cursos>

<app-curso-detalhe></app-curso-detalhe>

